<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose m-auto">
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="mb-5">
      <%= link_to "Home" , root_path, class: "text-blue-500"%>
      <% if user_signed_in? %>
        <%= link_to "New blog" , new_blog_post_path, class: "ml-2 text-blue-500"%>
        <%= link_to "Profile", edit_user_registration_path, class:"ml-2 text-blue-500"%>
        <%= button_to "Logout", destroy_user_session_path , method: :delete, class: "bg-gray-200 py-1 px-2 rounded"%>
      <% else %>
        <%= link_to "Login" , new_user_session_path, class: "text-blue-500" %>
        <%= link_to "Sign up" , new_user_registration_path, class: "ml-2 text-blue-500" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
